*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(circle, #e64980 5%, #ff8787 95%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}


.top{
    text-align: center;
    color: rgb(44, 44, 44);
    letter-spacing: 2px;
}

.top img{
    width: 150px;
    border-radius: 50%;
    box-shadow: 2.5px 5px 5px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    margin-bottom: 30px;
}

.mid{
    margin-top: 30px;
}

.mid div{
    width: 300px;
    height: 100px;
    background-color: white;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2.5px 5px 5px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
}

.mid img{
    width: 50px;
    margin-right: 50px;
    border-radius: 10px;
}

.interior{
    width: 100%;
    height: 100%;
}

.mid a{
    width: 100%;
    height: 100%;
    color: rgb(65, 65, 65);
    text-decoration: none;
    text-align: center;
}

.mid h3{
    width: 100px;
    padding-right: 50px;
}

.mid div:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  }